body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f3ef;
}

/* HEADER */
header {
  background-color: #2e2e2e;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* HERO */
section:nth-of-type(1) {
  background-color: #d6cfc7;
  padding: 50px;
  text-align: center;
}

button {
  background-color: #6b4f3b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* PRODUCTS */
article {
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background-color: #2e2e2e;
  color: white;
  text-align: center;
  padding: 10px;
}
